<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>
	  
	   {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}
	  

</div><!-- /.container -->
			<footer>
				<ul>
				<a href="mailto:emckenna@jhu.edu">email</a> |
				<a href="https://twitter.com/lizcmckenna?lang=en">@lizcmckenna</a> |
	        		<a href="https://github.com/lizmckenna">github</a>
					<a ><p style="color:#bdbdbd";>Art: Athos Bulcão</p></a>
				</ul>
			</footer>
			{% include analytics.html %}
  </body>
</html>
