<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>
</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<a href="mailto:emckenna@berkeley.edu">email</a>\\
	        		<a href="https://github.com/lizmckenna">github.com/lizmckenna</a>
			</ul>
			</footer>
			{% include analytics.html %}
  </body>
</html>
