<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

			<nav>
			<a href="/"><b>Home</b></a>
		        <a href="/CV"><b>CV</b></a>
	        	<a href="/research"><b>Research</b></a>
	        	<a href="/blog"><b>Blog</b></a>
	    		</ul>
			</nav>

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>
</div><!-- /.container -->
			<footer>
	    		<ul>
				<p><a href="mailto:emckenna@berkeley.edu">email</a></p>
	        		<p><a href="https://github.com/lizmckenna">github.com/lizmckenna</a></p>
			</ul>
			</footer>
			{% include analytics.html %}
  </body>
</html>
